<launch>
  <node pkg="rosbag" type="play" name="bag_play" 
      args="--clock /home/henryzh47/logging/2019-10-10-thermal-inertial-calibration/2019-10-10-14-11-34.bag"/>

  <node pkg="flir_ros_sync" type="rotate_image.py" name="rotator_node">
    <rosparam param="topics">
      - /thermal/image
    </rosparam>
  </node>
</launch>
