<launch>
    <arg name="raw" default ="true" />
    <arg name="left_flir_id" value="322008" />
    <arg name="right_flir_id" value="322011" />

    <!-- left and right thermal cameras -->
    <include file="$(find flir_ros_sync)/launch/wildfire/subcanopy-drone-ordv2/wildfire-subcanopy-drone-ordv2-single.launch">
        <arg name="raw" value="$(arg raw)"/>
        <arg name="flir_id" value="$(arg left_flir_id)" />
        <arg name="camera_name" value="thermal_left" />\
        <arg name="sync_mode" value="1" />
        <arg name="package" value="set_flir_sync_mode_1" />
    </include>

    <include file="$(find flir_ros_sync)/launch/wildfire/subcanopy-drone-ordv2/wildfire-subcanopy-drone-ordv2-single.launch">
        <arg name="raw" value="$(arg raw)"/>
        <arg name="flir_id" value="$(arg right_flir_id)" />
        <arg name="camera_name" value="thermal_right" />
        <arg name="sync_mode" value="2" />
        <arg name="package" value="set_flir_sync_mode_2" />
    </include>

    <!-- ! has to set modes in the same instant, otherwise the thermal camera not in sync mode will pull down the voltage to below 1.8V ! -->
    
</launch>
