<launch>
    <arg name="raw" default="true" />
    <arg name="left_flir_id" value="322011" />
    <arg name="right_flir_id" value="322008" />

    <!-- Set frame rate param -->
    <arg name="frame_rate" default="10"/>

    <!-- left and right thermal cameras -->
    <include file="$(find flir_ros_sync)/launch/yamaha_atv/atv-single.launch">
        <arg name="raw" value="$(arg raw)"/>
        <arg name="flir_id" value="$(arg left_flir_id)" />
        <arg name="camera_name" value="thermal_left" />
        <arg name="frame_rate" value="$(arg frame_rate)" />
    </include>

    <include file="$(find flir_ros_sync)/launch/yamaha_atv/atv-single.launch">
        <arg name="raw" value="$(arg raw)"/>
        <arg name="flir_id" value="$(arg right_flir_id)" />
        <arg name="camera_name" value="thermal_right" />
        <arg name="frame_rate" value="$(arg frame_rate)" />
    </include>

    <!-- Set sync mode for both cameras -->
    <node pkg="flir_ros_sync" type="set_sync_mode" name="set_flir_sync_mode" output="screen">
        <!-- 0 disable, 1 master, 2 slave -->
        <param name="sync_mode" value="2" type="int" />
        <rosparam param="serial_list">["flir_boson_serial_322008", "flir_boson_serial_322011"]</rosparam>
    </node>

    <!-- Node to trigger FFC every 3 minutes -->
    <node pkg="flir_ros_sync" type="trigger_ffc.py" name="flir_ffc_trigger" output="screen">
        <rosparam param="serial_list">["flir_boson_serial_322008", "flir_boson_serial_322011"]</rosparam>
    </node>
    <!-- Node to print Teensy's Serial print (PPS status, Hz setting, Clock Sync, etc.) -->
    <node pkg="flir_ros_sync" type="check_teensy_status.py" name="teensy_serial_publisher" output="screen"></node>

</launch>
